.list-button {
    border-color: black;
    background-color: whitesmoke;
}

.list-button:hover {
    background-color: gainsboro !important;
}

.list-button-primary {
    color: blue;
    border-color: blue;
    background-color: whitesmoke;
}